<!-- <div id="div-cards">
  <div><app-card></app-card></div>
  <div><app-card></app-card></div>
  <div><app-card></app-card></div>
  <div><app-card></app-card></div>
  <div><app-card></app-card></div>
  <div><app-card></app-card></div>
  <div><app-card></app-card></div>
</div>
<div id="div-expansion-panels">
  <mat-accordion
    ><div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Personal data </mat-panel-title>
          <mat-panel-description>
            Type your name and age
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </div>
    <div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Self aware panel </mat-panel-title>
          <mat-panel-description> Hi </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div> -->
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
