<form [formGroup]="contactInformationGroup" (ngSubmit)="send()">
  <h1 mat-dialog-title>Kontakt</h1>
  <mat-dialog-content class="mat-typography">
    <mat-form-field id="name-input" color="primary" appearance="legacy">
      <mat-label>Name des Absenders</mat-label>
      <input matInput placeholder="John Smith" [formControl]="nameControl" />
    </mat-form-field>

    <mat-form-field id="mail-input" color="primary" appearance="legacy">
      <mat-label>E-Mail Adresse des Absenders</mat-label>
      <input
        matInput
        placeholder="john.smith@dr.who"
        type="email"
        [formControl]="emailControl"
      />
      <mat-error *ngIf="emailControl.invalid">{{
        getEMailErrorMessage()
      }}</mat-error>
    </mat-form-field>

    <mat-form-field color="primary" appearance="legacy" id="subject-input">
      <mat-label>Betreff</mat-label>
      <input matInput placeholder="Allons-y!" [formControl]="subjectControl" />
    </mat-form-field>

    <mat-form-field appearance="legacy" color="primary" id="message-input">
      <mat-label>Nachricht</mat-label>
      <textarea
        matInput
        required
        rows="4"
        placeholder="{{ randomQuote }}"
        [formControl]="messageControl"
      ></textarea>
      <mat-error *ngIf="messageControl.invalid">{{
        getMessageErrorMessage()
      }}</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Abbrechen</button>
    <button mat-button cdkFocusInitial type="submit">Senden</button>
  </mat-dialog-actions>
</form>
