<div id="top-content">
  <div id="header-div">
    <div id="header-div-content">
      <div id="header-div-title">
        <h1 id="caption">Titel ...</h1>
        <h2 id="caption-hint">Press `COBALT`</h2>
      </div>
    </div>
  </div>
</div>
<div id="main-content">
  <div id="main-content-banner" (click)="scrollContent()">˅</div>
  <div id="div-cards">
    <div>
      <mat-card
        >0 Simple card<br />jlklkl<br />lkjkljlkjlk<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl</mat-card
      >
    </div>
    <div>
      <mat-card
        >1 Simple card<br />jlklkl<br />dsfdsfs<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl</mat-card
      >
    </div>
    <div>
      <mat-card
        >2 Simple card<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl</mat-card
      >
    </div>
    <div>
      <mat-card
        >3 Simple card<br />jlklkl<br />lkjkljlkjlk<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl</mat-card
      >
    </div>
    <div>
      <mat-card
        >4 Simple card<br />jlklkl<br />lkjkljlkjlk<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl<br />jlklkl</mat-card
      >
    </div>
  </div>
  <div id="div-expansion-panels">
    <mat-accordion
      ><div>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Personal data </mat-panel-title>
            <mat-panel-description>
              Type your name and age
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </div>
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Self aware panel </mat-panel-title>
            <mat-panel-description> Hi </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>
</div>
<div id="div-foot"></div>
<footer>
  <button mat-raised-button (click)="openImprint()">Imprint</button>
  <button mat-raised-button (click)="openPrivacy()">Privacy</button>
  <button mat-raised-button (click)="openContact()">Contact</button>
  Nach oben. zuletzt aktuaisiert. Copyright and Design by Silas Schnurr
</footer>

<!--This theme:
http://www.csszengarden.com/215/
http://www.csszengarden.com/215/215.css?v=8may2013
-->
