<div id="top-content">
  <div id="header-div">
    <div id="header-div-content">
      <div id="header-div-title">
        <h1 id="caption">Silas Schnurr</h1>
        <h2 id="caption-hint">Guten Tag :)</h2>
      </div>
    </div>
    <img id="silas-img" src="/assets/silas/monochrom_1024.png" alt="Avatar" />
    <social-links></social-links>
  </div>
</div>
<div id="main-content">
  <div id="main-content-banner" (click)="scrollContent()">
    <img id="img-arrow" class="arrow" src="/assets/arrow.png" alt="˅" />
  </div>
  <website-content></website-content>
</div>
<footer>
  <website-footer></website-footer>
</footer>
