<table id="cookie-hint-table" [@openClose]="openState" lang="de">
  <tr>
    <td id="cookie-hint-text">
      Die Webseite benötigt Cookies. Die weitere Nutzung der Seite wird als O.
      K. betrachtet
      <br />
      Weitere Infos zu Cookies sind im Bereich
      <a href="">Datenschutz</a> zu finden.
    </td>
    <td id="cookie-hint-button-cell">
      <button
        id="cookie-hint-button"
        mat-stroked-button
        color="accent"
        (click)="Accept()"
      >
        Einverstanden
      </button>
    </td>
  </tr>
</table>
