#cookie-hint-table {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: lightgray;
  z-index: 9999;
}

@media all and (min-width: 800px) and (max-width: 1100px) {
  #cookie-hint-text,
  #cookie-hint-button {
    font-size: 1.5em;
  }
}

@media all and (min-width: 1101px) {
  #cookie-hint-text,
  #cookie-hint-button {
    font-size: 2em;
  }
}
#cookie-hint-text {
  position: relative;
  text-align: justify;
  padding: 5% 0 5% 5%;
}

#cookie-hint-button {
  position: relative;
  padding: 1vw;
  margin: 5vw;
}

#cookie-hint-button-cell {
  text-align: right;
}
