<div id="social-references">
  <image-ref
    link="https://github.com/SilasDerProfi"
    name="GitHub"
    imagePath="/assets/social/128/github_128.png"
  >
  </image-ref>
  <image-ref
    link="https://linkedin.com/in/silasschnurr"
    name="LinkedIn"
    imagePath="/assets/social/128/in_128.png"
  >
  </image-ref>
  <image-ref
    link="https://twitter.com/SilasDerProfi"
    name="Twitter"
    imagePath="/assets/social/128/twitter_128.png"
  >
  </image-ref>
  <image-ref
    link="https://instagram.com/silas_sch"
    name="Instagram"
    imagePath="/assets/social/128/instagram_128.png"
  >
  </image-ref>
  <image-ref
    link="{{ 'mai' }}{{ 'lto:' }}{{ 'contact' }}{{ '@' }}{{ 'schnurr.one' }}"
    name="E-Mail"
    imagePath="/assets/social/128/mail_128.png"
  >
  </image-ref>
  <image-ref
    link="https://xing.com/profile/Silas_Schnurr2"
    name="Xing"
    imagePath="/assets/social/128/x_128.png"
  >
  </image-ref>
</div>
